*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-title{
  color: #0072b4;
  text-align: center;
  padding-top: 20px;
}

.main-box{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 20px;
}
.add-btn{
  all: unset;
  background-color:#0072b4;
  border-radius:28px;
  color: #fff;
  width: 30%;
  height: 30px;
  text-align: center;
  box-shadow: 1px 1px 2px 2px #000000ce;
  cursor: pointer;
}
.add-btn:hover{
  background-color:#008ddf;
}

.add-btn:active{
  box-shadow: 0px 0px 2px 2px #000000ce;
  position:relative;
  top:2px;
}

.search-input{
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 20px;
}

.list-title{
  color: #0072b4;
  text-align: center;
  padding-top: 30px;
  width: 30%;
}
.food-list{
  display: flex;
  color: black;
  flex-direction:column;
  align-items:flex-start;
  padding-top: 10px; 
}

.newfood-input{
  width: 100%;
}
.delete-btn{
  all: unset;
  background-color:#0072b4;
  border-radius:28px;
  color: #fff;
  font-size: small;
  width: 100%;
  height: 20px;
  margin-top: 5px;
  text-align: center;
  box-shadow: 1px 1px 2px 2px #000000ce;
  cursor: pointer;
}
.delete-btn:hover{
  background-color:#008ddf;
}

.delete-btn:active{
  box-shadow: 0px 0px 2px 2px #000000ce;
  position:relative;
  top:2px;
}

.update-btn{
  all: unset;
  background-color:#0072b4;
  border-radius:28px;
  color: #fff;
  font-size: small;
  width: 100%;
  height: 20px;
  margin-top: 2px;
  text-align: center;
  box-shadow: 1px 1px 2px 2px #000000ce;
  cursor: pointer;
}
.update-btn:hover{
  background-color:#008ddf;
}

.update-btn:active{
  box-shadow: 0px 0px 2px 2px #000000ce;
  position:relative;
  top:2px;
}